// Specific CSS for your home-page
#offer {
  text-align: center;
}


.banner {
  background-image: asset-url('baby-chair.jpg');
  width: 100%;
  color: white;
  height: 700px;
  background-size: cover;
  text-align: end;
  font-size: xxx-large;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #EF626C;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #e5a1a5;;
  color: white;
}
