<%# Displays a list of all bookings %>
<h1>All Bookings</h1>
<%= @bookings  %>
<ul>
  <% @bookings.each do |booking| %>
    <li><%= link_to("Booking ##{booking.id}", booking) %></li>
  <% end %>
</ul>


<%# <div class="product-card">
  <div class="product-card__media">
    <img src="" alt="Product image">
  </div>
  <div class="product-card__info">
    <h2 class="product-card__title">NEW Snoo Mattress</h2>
    <p class="product-card__price">£28</p>
    <button class="product-card__button">Add to cart</button>
  </div>
</div> %>
