<%# Form for creating a new booking %>
<!-- app/views/bookings/new.html.erb -->
<h1>New Booking</h1>

<%= simple_form_for [@item, @booking] do |f| %>
  <!-- Add form fields for booking attributes -->
  <%= f.input :start_date %>
  <%= f.input :end_date %>

  <!-- Add other form fields as needed -->
  <%= f.submit "Book this item" %>
<% end %>
