<p>100% flexible | Free returns | No Sign-up fee | No hidden costs</p>

<div class="container" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://pixabay.com/photos/child-pram-sunglasses-953703/);">
    <h1><strong>WeeRent</strong></h1>
    <p>Gear up for Parenthood:</p>
    <p>Rent,</p>
    <p>Relax,</p>
    <p>Repeat!</p>
</div>
