<p id="offer"style= "color:#780116; background-color:#F5E9E2;">100% flexible | Free returns | No Sign-up fee | No hidden costs</p>

  <div class= "banner">
  <div class="container" >
    <p>Gear up for Parenthood:</p>
    <p>Rent,</p>
    <p>Relax,</p>
    <p>Repeat!</p>
  </div>
  </div>
