<p id="offer"style= "color:#780116; background-color:#F5E9E2;">100% flexible | Free returns | No Sign-up fee | No hidden costs</p>

  <div class= "banner">
  <div class="container" >
    <p>Gear up for Parenthood:</p>
    <p>Rent,</p>
    <p>Relax,</p>
    <p>Repeat!</p>


  </div>
  <div class="btn btn-flat">
  <%= link_to "Browse our Products", items_path, class: "btn btn-flat" %>
  </div>
  </div>

<%# <%= link_to 'Items', new_item_booking_path(@item), class: 'product-card__button' %>
